*, *:before, *:after{
    box-sizing: border-box;
}
body {
    margin-bottom: 0;
    font-family:'Roboto Condensed', sans-serif;
    color: #909b9c;
    font-size: 90%;
}


section{
    height: 100vh;
}
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.title{
    font-size: 46px;
    margin: 30px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #000;
}
.container .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    text-align: center;
    padding: 15px;
    border: 1px solid blue;
}
.item img {
    max-width: 100%;
    border-radius: 5%;
}
.item-text{
    border: 1px solid green;
}
.item h2 {
    font-weight: 600;
    font-size: 120%;
    color: #2c3e50;
    margin-top: 15px;
    margin-bottom: 15px;
}
.item p {
    line-height: 20px;
}
.item-button{
    border: 1px solid red;
}
button {
    margin-top: 10px;
    background-color: rgb(74,145,195,0.7);
    border-radius: 50px;
    padding: 10px 30px;
    color: #fff;
    border: none;
    cursor: pointer;
}

@media (max-width: 668px) {
    .container {
      flex-direction: column;
}

    .item {
      width: 90%;
}
}
